/*DESKTOP*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#top{
    background-color: black;
    color: white;
    width:100%;
    min-height:200px;
}
.logo{
    padding:16px;
}
#logorodape{
    padding: 16px;
}
#containertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    display: flex;
    flex-direction: column;
}
#menu ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#aberturamenu{
    display:none;
}
#botaomenu{
    display:none;
}
#primeiralinha > li{
    padding: 15px 75px;
}
#segundalinha > li{
    padding: 0 45px;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
a{
    background-color: rgba(0, 0, 0, 0.788);
    color: wheat;
    height: 45px;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 20px;
    text-decoration: none;
}
#produtos{
    background-color: gray;
    padding: 16px;
}
.containerprodutos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}
.produto{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 220px;
}
.produto img{
    display: block;
    margin: 0 auto;
}
.produto a{
    background-color: white;
    color: black;
    height: auto;
    width: auto;
    padding: 0;
    margin: auto;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    text-decoration: none;
}
a:hover{
    background-color: rgb(95, 95, 250);
}
#faleconosco{
    background-color: black;
    color: white;
    margin-top: auto;
}
#instagram{
    display: flex;
    justify-content: flex-start;
}
#whatsapp{
    display: flex;
    justify-content: flex-start;
}
#logorodape{
    display: flex;
    justify-content: flex-end;
}
h2{
    font-family: "Arapey", serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0px 0px 15px 15px;
}

@media screen and (max-width:1421px){
    #containertop{
        flex-direction: column-reverse;
        align-items: center;
    }
    #menu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    a{
        height: auto;
        width: auto;
        padding: 0;
        margin: auto;
        box-shadow: none;
        border-radius: 0;
    }
}

/*TABLET*/
@media screen and (max-width:768px){
    #containertop{
        flex-direction: column;
        align-items: center;
    }

    #menu{
        width: 100%;
    }

    #menu ul{
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 10px 0;
    }

    #menu a{
        background: none;
        box-shadow: none;
        padding: 8px 12px;
        border-radius: 0;
        width: auto;
        height: auto;
    }
}

/*MOBILE*/
@media screen and (max-width: 520px){
    #containertop{
        flex-direction: column-reverse;
    }

    #menu > ul{
        flex-direction:column;
        text-align: center;
        height: 1px;
        overflow: hidden;
        transition: height 1s linear;
    }
    #menu > li{
        border-bottom: 1px dashed white;
        padding: 5px 0;
        margin: 2px 0;
    }
    #aberturamenu:checked ~ ul{
       height: 150px;
    }

    #botaomenu{
        display:flex;
        width:40px;
        height:40px;
        flex-direction: column;
        justify-content: space-around;
        padding:2px;
        border:1px solid white;
        border-radius:10px;
        margin:5px;
    }
    .linha{
        height:5px;
        background-color:white;
    }
}


